project = "project_id"
region_zone = "europe-west2-a"
project_pubkey_path = "~/.ssh/appuser.pub"
project_ssh_user=appuser
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
machine_type = "g1-small"

app_disk_image = "reddit-app-base"
app_port = "9292"
app_user = "appuser"
app_workdir = "/home/appuser"

db_disk_image = "reddit-db-base"

ssh_source_ranges = ["195.134.19.178/32"]
